@import "../../../themes/dark.scss";
@import "../../../mixins.scss";

.button 
{
    position: relative;
    color: $primary-foreground-color;
    background-image: linear-gradient(to left, $primary-background-color, $primary-background-color);
    z-index: 1;
    overflow: hidden;
    border-radius: 4px;
    padding: 5px 10px;
    min-width: 70px;
    text-rendering: geometricPrecision;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    @include inline-flex;
        
    &::before
    {
        content: "";
        background-image: linear-gradient(to left, $primary-background-color, $secondary-background-color);
        z-index: -1;
        transition: opacity 0.5s linear;
        opacity: 0;
        @include absolute-fill;
    }

    &:hover::before
    {
        opacity: 1;
    }
}